@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Mero Color */
.mero {
  color: #2196f3;
}

/* Book Color */
.book {
  color: #83878a;
}

/* Mero Book Title */
.meroBook {
  margin-top: 3em;
  margin-bottom: 0.7em;
}

/* Block Button */
.btn-block {
  margin-bottom: 3em;
}

/* Mero Book Title Home */
.logoTitle {
  font-size: 2em;
}
